{
    "extends": ["react-app", "prettier"],
    "rules": {
        "no-console": "error",
        "no-debugger": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "plugins": ["prettier"]
}
