@import '../../assets/scss/variable.scss';

.search {
    min-width: 40%;
    position: relative;
    display: flex;
    margin: 18px 0;
}

.search__term {
    width: 100%;
    border: 2px solid $color-main;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
}

.search__button {
    width: 40px;
    height: 36px;
    border: 2px solid $color-main;
    background: $color-main;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
    &:hover {
        background: lighten($color: $color-main, $amount: 10);
    }
}
