.root {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.root__spinner {
    width: '100px';
}

.spinner-img {
    max-width: '100%';
}
