.header-root {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #222;
    border-bottom: 1px solid white;
}
