.error-indicator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-indicator span:nth-child(2) {
    font-size: 2rem;
}
